<div class="main">

</div>
<ul>
  <li *ngFor="let item of teste">
    {{ item.name }} {{ item.age }}
  </li>
</ul>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Area {{areaId}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-between">
            <p>Modelo : </p>
            <p>Preço : </p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalVenda"(click)="chama_venda(11)">Comprar</button> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalVenda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{automovel_venda.modelo}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-between">
            <p>Modelo : </p>
            <p>Preço : </p>
            <button class="btn btn-primary">Comprar</button> 
          </div>
        </div>
      </div>
    </div>
  </div>